/* git init - команда инизиализация папки */
/* git config user.email "abc@abc.abc" - указываем email пользователя */
/* git config user.name "abc" - указываем имя пользователя */
/* git add .  или имя файла (index.html), добавление для сохранения */
/* git status - узнать файлы для сохранения */
/* git commit -m "Текст сообщения" - сохранение файлов репозитория */
/* git branch - для работы с ветками:создать и посмотреть ветки */
/* git branch ИмяВетки- создать ветку */
/* git checkout ИмяВетки - перейти к ветке или к сохранению */
/* git checkout -b ИмяВетки - создать и перейти к ветке */
/* gitk - интерфейс для просмотра веток и сохранений */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    list-style: none;
}

.header {
    background: url(../images/header_bg.jpg) center center / cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.nav {
    max-width: 1110px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
}

.logo {
    display: block;
}

.menu__item-link {
    display: block;
    padding: 21px 24px 21px 28px;
    color: #4d4d4d;
}

.menu__item-link:hover {
    color: white;
    background: #4d4d4d;
}

.header__info {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}